%p A simple way to find the favicon of any website.

%section#form
  %input{:placeholder => "example.com", :type => "url"}
    %span
      %button{:type => "submit"} Find

%section#results
  %img{:alt => "Favicon Result", :src => "#"}/
